
 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
   margin-top: 20px ;
}

form {
  display: flex;
  align-items: flex-end;
  background-color: #fff;
  border-radius: 30px;
  padding: 0px 0px 0px 0px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  margin-top: -9px;
}

.input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  margin-right: 8px;
  margin-top: -20px;
}

.searchBtn {
  cursor: pointer;
  background-color: #fca311; /* Color del botón de búsqueda */
  color: #fff;
  font-size: 16px;
  font-weight: 50px;
  border: none;
  border-radius: 20px; /* Hacer el botón redondo */
  padding: 16px 15px 15px 5px; /* Ajustar el padding para hacerlo más grande */
  transition: background-color 0.3s ease;
  border-top-left-radius: 0px 0px;
  border-bottom-left-radius: 0px;
}

.allBtn {
  cursor: pointer;
  background-color: #e76f51; /* Color del botón "Traer todos" */
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 20px; /* Hacer el botón redondo */
  padding: 10px 20px; /* Ajustar el padding para hacerlo más grande */
  transition: background-color 0.3s ease;
}

.searchBtn:hover,
.allBtn:hover {
  background-color: #9ab1a4; /* Color al pasar el ratón por encima de los botones */
}

/* Media Query para hacerlo responsive */
@media (max-width: 768px) {
  .container {
    justify-content: center; /* Centrar el contenido en pantallas pequeñas */
    margin: 10px; /* Reducir el margen en pantallas pequeñas */
  }

  form {
    flex-direction: column; /* Mostrar los elementos en columna en pantallas pequeñas */
    align-items: center;
  }

  .input {
    margin-right: 0; 
    margin-bottom: 10px; /
  }

  .searchBtn,
  .allBtn {
    width: 100%; 
  }
}









/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 20px;
}

form {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  padding: 8px; 
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  margin-top: -9px;
}

.input {
  flex: 1; 
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  margin-right: 8px;
}

.searchBtn {
  cursor: pointer;
  background-color: #fca311;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  padding: 8px 15px; 
  transition: background-color 0.3s ease;
  margin-left: -15px; 
} */


