.boton {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: none;
  background-color: rgb(229, 66, 66);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: rgb(204, 0, 0);
}