.container {
  display: flex;
  justify-content: space-evenly; /* Cambiado a 'space-between' para distribuir elementos en ambos extremos */
  align-items: center;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: antiquewhite;
}

.a {
  border-bottom: 0.1rem solid;
  text-decoration: none;
 
  font-size: 18px; /* Reducido el tamaño de fuente para ocupar menos espacio */
  font-weight: bold;
  color: #7809fd;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease;
}
.a:hover {
  color: #9ab1a4;
}

.logo {
  width: 120px; /* Reducido el tamaño del logo para ahorrar espacio */
  height: auto;
}

.nav-links h3 {
  font-size: 18px; /* Reducido el tamaño de fuente para ocupar menos espacio */
  font-weight: 500;
}

.profile-container img {
  width: 25px; /* Reducido el tamaño de la imagen del perfil */
  height: 25px;
  border-radius: 50%;
}

/* Media Queries */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 15px; 
  }
}

 