.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: #d1cfcf;
    background-size: cover;
   
  }
  
  .a {
    text-decoration: none;
    padding: 0px 15px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #005791;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .a:hover {
    color: #fca211c9;
    
  }
  
  .logo {
    width: 150px;
    height: auto;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .nav-links > div {
    margin-left: 10px;
  }
  
  .nav-links h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  
  .profile-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profile-container img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  /* Media Queries */

/*  768px  */
@media (max-width: 768px) {
    .container {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  
    .nav-links {
      flex-direction: column;
     
    }
  
    .nav-links > div {
      margin: 10px 1;
    }
  }
  
  /*  768px - 1024px  */
  @media (min-width: 768px) and (max-width: 1024px) {
    .container {
      display: flex;

      
    }
  
    .nav-links > div {
      margin: 10px;
    }
  }