.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1.6rem;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: #d1cfcf;
  }
  
  .a {
    color: #424242;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 20px;
  }
  .a:hover {
    color: #c07907; 
  }
  
  .logo {
    width: 150px;
    height: auto;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .nav-links > div {
    margin-left: 20px;
  }
  
  .nav-links h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  
  .profile-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profile-container img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  /* Media Queries */

/*  768px  */
@media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links > div {
      margin: 10px 0;
    }
  }
  
  /*  768px - 1024px  */
  @media (min-width: 768px) and (max-width: 1024px) {
    .container {
      flex-wrap: wrap;
    }
  
    .nav-links > div {
      margin: 10px;
    }
  }