.container {
  display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
  }
  
  .filter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .labelFilter {
    font-weight: bold;
    margin-right: 0.5rem;
    color: #555; 
    font-size: 16px; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
  }
  
  .selectFilter {
    padding: 0.3rem 1rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
  }
  
  /* Estilos para el espacio entre los filtros */
  .filter + .filter {
    margin-left: 1rem;
  }

  
  @media (max-width: 768px) {
    .filter {
      width: 100%; /* Centramos los elementos en dispositivos móviles */
    }
  }