.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 2px solid #d1cfcf;
    background-color: #d1cfcf;
  }
  
  .order {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  
  label {
    font-weight: bold;
    margin-right: 0.5rem;
    color: #555; 
    font-size: 16px; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
  }
  
  select {
    padding: 0.3rem 1rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  /*  espacio entre los filtros */
  .order + .order {
    margin-left: 1rem;
  }


  @media (max-width: 768px) {
  .order {
    align-items: center; /* Centramos los elementos en dispositivos móviles */
  }
}